# Archivos compilados Java
*.class
bin/
build/
out/

# Archivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Archivos de YOLO (excluir modelos entrenados para compartir)
runs/
yolov8*.pt
!modelos/modelo_entrenado.pt
*.weights
dataset.yaml


# Archivos generados por el sistema
evidencias/
registros/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
